:root{/*:root -> variaveis de css no tema original projetado*/
  --font-raleway: "Raleway", sans-serif;
/*Light theme (padrão)*/
--bg-primary: #f5f5f5;
--text-primary: #333;
--text-secondary:#666;
--text-placeholder:#a1a1a1;
--accent-color:#ff6b6b
--shadow-color:rgba(0,0,0,0.1);
--shadow: 0px 2px 8px;
}
@media (prefers-color-scheme: dark){
/*Dark theme*/ 
  :root {
   --bg-primary: #212426
   --text-primary: #f5f5f5;
--text-secondary:#f0f0f0;
--text-placeholder:#a1a1a1;
--accent-color:#ffa500;
--shadow-color:rgba(0,0,0,0.4);
--shadow: 0px 2px 8px #1c1d1f, -5px -5px 7px #222527;
   
}
}
body{
  font-family: var(--font-raleway);
  background: var(--bg-primary);

color: var(--text-primary);

/* Efeito de transição */
transition: background-color 0.3 ease,
color 0.3s ease;
}

#App{
  padding: 4em;
  display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Logo {
  max-width: 70%;
  overflow: hidden;
    height: auto;
    display: block;
    margin: auto;
  }

